body{
    text-align: center;
    background-color: rgb(133, 81, 116);
}
h1{
    font-size: 5vw;
    color: crimson;
    text-shadow: 5px 2px 5px black;
    box-shadow: 3px 4px 4px 4px white;
}
.w{
    background-image: url(image/tom1.png);
    background-size: cover;
}
.a{
    background-image: url(image/tom2.png);
    background-size: cover;
}
.s{
    background-image: url(image/tom3.png);
    background-size: cover
}
.d{
    background-image: url(image/tom4.png);
    background-size: cover
}
.j{
    background-image: url(image/crash.png);
    background-size: cover
}
.k{
    background-image: url(image/snare.png);
    background-size: cover
}
.l{
    background-image: url(image/kick.png);
    background-size: cover
}
button{
    width:100px;
    height: 100px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 3px 4px 4px 4px white;
}